<div class="container events-container">
<div class="row events-row">
		<div class="col-md-4">
			<div class="rect-background flow-text">MUSIC
			</div>
		</div>
		<div class="col-md-4">
<div class="rect-background flow-text">DANCE
			</div>
		</div>
		
<div class="col-md-4"><div class="rect-background flow-text">DRAMATICS
			</div></div>
</div>

<div class="row">
		<div class="col-md-4"><div class="rect-background flow-text">MR &AMP; MS ANUGOONJ
			</div></div>
		<div class="col-md-4"><div class="rect-background flow-text">FINE ARTS
			</div></div>
		<div class="col-md-4"><div class="rect-background flow-text">LITERARY ARTS
			</div></div>
		

</div>

<div class="row">
<div class="col-md-12"><div class="rect-background flow-text">BATTLE OF BANDS
			</div></div>
</div>
</div>
<style type="text/css">
.rect-background{
    background: rgba(255,255,255,0.8);
    padding: 1em;
    text-align: center;
    border: 0.2em solid white;
    font-weight: 900;
    letter-spacing: 0.4em;
    font-family: "Lato";
    color: darkcyan;
    text-indent: 0.4em;
}

.rect-background:hover{
	background: white;
	color: crimson;
	cursor: pointer;
}
.events-row{
	margin-top: 5em;
}

.events-container .col-md-4{
	margin-bottom: 1em;
}
</style>