<div class="container center center-block">
      <center><img  src="img/head-main.png" class="img-responsive head-main center-align center-block z-depth-5"></center>

   <div class="card intro-text">
   <i class="fa fa-bullhorn left" aria-hidden="true"></i>

   	Annual Cultural Fest of Guru Gobind Singh Indraprastha University, Delhi.
   	<i class="fa fa-bullhorn right" aria-hidden="true"></i>

   </div>   
    </div>

<style type="text/css">
	.intro-text{
		    background: darkviolet;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.2em;
	}
	.card .left{
		font-size: 2em;
    transform: rotateY(180deg);
	}
	.card .right{
		font-size: 2em;
	}
</style>